{% if collection.image %}
<div class="container-fluid" style="padding-top: 7rem; padding-bottom: 7rem; background-image: url('{{ collection.image | image_url: width: 2048 }}');">
	<div class="container">
		<div class="row">
			<div class="col-12 text-white">
				<h2>{{ collection.title }}</h2>
			</div>
		</div>
	</div>
</div>
{% endif %}

<div class="container" style="margin-top: 80px;">
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
		{% for product in collection.products %}

			{% if product.available %}
			<div class="col">
				<div class="card h-100">

					{% if product.featured_image %}
						<a href="{{ product.url }}">
							<img class="img-fluid" alt="{{ product.featured_image.alt }}" src="{{ product.featured_image | image_url: width: 650, height: 650 | image_tag: product.featured_image.alt }}">
						</a>
					{% endif %}

					<div class="card-body">
						<h5 class="card-title">{{ product.title }}</h5>
						<h6 class="card-subtitle">{{ product.price }}</h6>
						<p class="card-text">{{ product.description | truncate: 60, '...' }}</p>

						<p><b>Prodotto creato il: <time>{{ product.created_at | date: "%d/%m/%Y"}}</time></b></p>

						<small>{{ product.type }}</small>

						<div class="chips">
							<small>Tag:</small>
							{% for tag in product.tags %}
								<button class="btn btn-outline-dark btn-small">{{ tag }}</button>
							{% endfor %}
						</div>


					</div>
					
					<div class="card-footer bg-white border-top-0 pb-3">
						<a href="{{ product.url }}" class="btn btn-primary">Vai al prodotto</a>

						<form method="post" action="/cart/add">
							<div class="input-group mt-2">
								<input class="form-control" type="hidden" name="id" value="{{ product.variants.first.id }}" />
								<input class="form-control" min="1" type="number" id="quantity" name="quantity" value="1"/>
								<input type="submit" value="Add to cart" class="btn btn-primary" />
							</div>
						</form>


					</div>
				</div>
			</div>
			{% endif %}

		{% endfor %}
	</div>
</div>

{%- comment -%}
{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "collapse_on_larger_devices",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.collapse_on_larger_devices.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
{%- endcomment -%}